.Event {
    border: 3px solid;
    margin: 5px auto;
    text-align: center;
    display: inline-block;
    width: 19%;
}

.isEvents {
    max-width: 80vw;
    background-color: grey;
    margin: auto;
    text-align: center;
}

body {
    background-color: lightgray;
}
